@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="row page-banner">
    <div class="center">
        <img src="/media/page-banner.jpg" alt="">
        <div class="overlay">
            <h1>Codegarden 2018 speakers</h1>
        </div>
    </div>
</div>