@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ 
    int id = int.Parse(Model.Content.GetPropertyValue("heroPicker").ToString());
}

<div class="row page-banner">
    <div class="center">
<<<<<<< HEAD
        <img src="@Umbraco.Media(@id).Url" alt="">
=======
        <img src="/media/page-banner.jpg" alt="">
>>>>>>> ab747eb7e63a6b2595fda1de3e8f8e36c17b2035
        <div class="overlay">
            <h1>Codegarden 2018 speakers</h1>
        </div>
    </div>
</div>