@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ 


    int id = 0;

    try
    {
        id = int.Parse(Model.Content.GetPropertyValue("heroPicker").ToString());
    }
    catch
    {

    }

}

<div class="row page-banner">
    <div class="center">
        @{
            try
            {
                <img src="@Umbraco.Media(@id).Url" alt="">
            }
            catch
            {

            }
        }

        <div class="overlay">

            @{
                try
                {
                    <h1>@Model.Content.GetPropertyValue("pageTitle")</h1>
                }
                catch
                {
                    
                }
            }
        </div>
    </div>
</div>