@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ 
    //int id = int.Parse(Model.Content.GetPropertyValue("heroPicker").ToString());
}

<div class="row page-banner">
    <div class="center">
        @*<img src="@Umbraco.Media(@id).Url" alt="">*@
        <div class="overlay">
            <h1>Codegarden 2018 speakers</h1>
        </div>
    </div>
</div>