@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="row coloured">
    <div class="container">
        <div class="venue-container">
            <div class="center">
                <h1 class="yellow">Codegarden 2018 venue</h1>
                <h3>Dok5000</h3>
                <p>Codegarden will, once again, be held at “Dok5000” in central Odense. Odense is just one hour by train from Copenhagen Airport, with plenty of cheap hotels and airbnbs, a great atmosphere and is the Umbraco HQ home turf!</p>
                <p class="address">Venue street address: Dok5000, <a href="https://www.google.dk/maps/place/Havnegade+18,+5000+Odense+C/data=!4m2!3m1!1s0x464ce0067e4dd55d:0x508fd67604c90b79?sa=X&ved=0ahUKEwjnoc2kuYnYAhUCZ1AKHXb-A6kQ8gEIJTAA" target="_blank" class="link-primary">Havnegade 18, 5000 Odense</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>