@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var allPages = Model.Content.Site().Children;
}
<header>
    <div class="container">
        <a href="/CodeGarden"><img src="media/logo.svg" alt="Logo - Codegarden"></a>
        <div class="nav-holder">
            <a class="cta-link" href="#" title="Buy ticket"><img src="media/cta-ticket.svg" alt="Buy Ticket"></a>
            <div class="hamburger-nav">
                <p>Menu</p>
                <span>
                    <div></div>
                    <div></div>
                    <div></div>
                </span>
            </div>
        </div>
    </div>
    <nav>
        <ul>
            <a class="logo" href="/Codegarden"><img src="media/logo.svg" alt="Logo - Codegarden"></a>

            @foreach (var page in allPages)
            {
                <li class="nav-item">
                    <a class="nav-link" href="@page.Url">@page.Name</a>
                </li>
            }

            @*<li><a href="pages/information.php">Information</a></li>
            <li><a href="pages/speakers.php">Speakers</a></li>
            <li><a href="pages/awards.php">Awards</a></li>
            <li><a href="pages/schedule.php">Schedule</a></li>
            <li><a href="">Buy ticket</a></li>*@
            <span class="social-links">
                <a href=""><img src="media/yellow-facebook.svg" alt=""></a>
                <a href=""><img src="media/yellow-linkedin.svg" alt=""></a>
                <a href=""><img src="media/yellow-twitter.svg" alt=""></a>
            </span>
        </ul>
    </nav>
</header>