@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Speakers>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "SiteMaster.cshtml";

    var page = Model.Content;

    var speakerQuery = Model.Content.Site().Descendants<Speaker>();
}


<div class="row page-banner">
    <div class="center">
        <img src="../media/page-banner.jpg" alt="">
        <div class="overlay">
            <h1>Codegarden 2018 speakers</h1>
        </div>
    </div>
</div>
<div class="row breadcrumbs">
    <div class="container">
        <a href="">HOME</a> // <span class="yellow">SPEAKERS</span>
    </div>
</div>
<div class="row">
    <div class="container noPadding">
        <div class="speakers">
            
            @foreach (var speaker in speakerQuery)
            {
            <div class="speaker col-md-3">
                <a class="getSpeaker" data-id="1" href="#">
                    @try
                    {
                        <img src="@speaker.SpeakerPicture" alt="" />
                    }
                    catch
                    {
                        <img src="#" alt="" />
                    }

                    <h3>@speaker.SpeakerName</h3>
                    <p>@speaker.SpeakerTitle</p>
         
                    @*<img src="../media/kris.jpg" alt="">
                    <h3>Kris Deminick</h3>
                    <p>Mindfullness</p>*@
                </a>
            </div>
            }


        </div>
    </div>
</div>
<div class="modal">
    <a class="close" href="#"><div></div><div></div></a>
    <div class="speaker-profile">
        <img class="profile-picture" src="../media/kris.jpg" alt="">
        <h2>Kris Deminick</h2>
        <p class="title">Mindfullness</p>
        <span class="social-links">
            <a href=""><img src="../media/yellow-facebook.svg" alt=""></a>
            <a href=""><img src="../media/yellow-linkedin.svg" alt=""></a>
            <a href=""><img src="../media/yellow-twitter.svg" alt=""></a>
        </span>
        <div class="session">
            <span>The session</span>
            <p>For Roskilde Festival we needed a great CMS, but with rapid horizontal scaling. TO solve this problem we chose Umbraco for the backoffice and a slim, stateless Node.js API server. This is our story.</p>
        </div>
        <div class="info">
            <span>The speaker</span>
            <p>
                Emil Bay is a 22 year old, Copehagen based full-stack developer at Umwelt. He has been coding since the age of 13, and freelancing since then.
                <br>
                His first job was building applications with WebForms in Asp.NET 2.0, but the experience was so traumatising that he has stuck to the open source world since then.
                <br>
                He is especially excited about vNext and the prospect of Windows and UNIX finding common ground.
                Avid open source contributor, UNIX ascetic, Node.js hacker and former mathematician.
            </p>
        </div>
    </div>
</div>
<div class="modal-bg"></div>