<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1063" key="016fd45e-c013-4e5d-84b5-661e0686eda1" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-11-15T16:52:33" updateDate="2017-11-15T16:52:33" nodeName="Homepage" urlName="homepage" path="-1,1063" isDoc="" nodeType="1062" creatorName="Simon Schandorff" writerName="Simon Schandorff" writerID="0" template="1061" nodeTypeAlias="homePage" isPublished="true">
    <headline><![CDATA[Testestest]]></headline>
  </homePage>
</root>