/* COLOURS */

$white: #fff;
$green: #39D18C;
$charcoal: #3B3B3B;
$yellow: #FFC80A;
$gray: #EAEAEA;
$lightgray: #F6F6F6;
$font-c: #737476;
$font-clight: #95989A;
$shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);

.yellow {
    color: $yellow;
}
