
  .container{
      .workshop{
          .col-md-2{
              text-align: center;
          }
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        .speakerInfo{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;
            .speakerImg{
                img{
                    width: 100px;
                    border-radius: 50%;
                }
            }
        }
        .workshopInfo{
            margin-top: 30px;
            text-transform: uppercase;
            .btn-secondary{
                width: 130px;
                height: 40px;
            }
        }
        
      }
  }  